html
{
	height : 100%;
}
body
{
	font-family: 'Cinzel', serif;
	background-color: rgb(245, 245 ,220);
	width : 100%;
	padding : 0;
	margin : 0;
}
.no_public
{
	margin-top: 150px;
	margin-bottom: 150px;
	font-size : 21px;
	color : rgb(40, 22, 1);
}
.good_mc
{
	color : green;
}
.error_mc
{
	color : red;
}
.nouveau_pass
{
	padding : 20px;
	border : 1px solid black;
}
.menu p
{
	color : white;
	font-size: 25px;
	position : absolute;
	top : 0px;
	right : 25px;
}
.date
{
	color : rgb(200, 173, 127);
	font-size: 18px;
}
.date b
{
	color : black;
}
.button_supimg
{
	text-align: right;
}
.button_supimg button
{
	color : red;
}
.commenter
{
	cursor : pointer;
	color : white;
	background-color: rgba(40, 22, 1  , 1);
	width : 150px;
	font-size: 13px;
}
.ensemble_photo button
{
	cursor : pointer;
}
.pdp
{
	width : 100%;
	font-size: 20px;
	color : black;
	text-decoration: underline;
	cursor: pointer;
}
#sup_img
{
	width : 100px;
	position : absolute;
	z-index: 2;
	left : 150px;
	top : 100px;
}
#sup_img_2
{
	width : 100px;
	position : absolute;
	z-index: 2;
	left : 150px;
	top : 100px;
}
h3
{
	text-decoration: underline;
}
#contenu
{
	padding : 20px;
	background-color: rgba(255,255,255,0.7);
	color : black;
	width : 90%;
	margin-top: 150px;
	font-size : 25px;
}
.moncompte h1 ,h2
{
	text-decoration: underline;
}
#connec_ok
{
	background-color: lightgreen;
	width : auto;
	height : auto;
	color : black;
	font-size: 30px;
	-webkit-animation:animatezoom 1s;animation:animatezoom 1s}
@-webkit-keyframes animatezoom{from{-webkit-transform:scale(0)} to{-webkit-transform:scale(1)}}
@keyframes animatezoom{from{transform:scale(0)} to{transform:scale(1)}}
#wrong_login
{
	color : red;
}
.form a
{
	text-decoration: none;
	color : rgb(206, 136, 67);
}
#superpose
{
	position : absolute;
	z-index : 2;
	width : 400px;
	height : 300px;
	overflow : hidden;
}
#valide
{
	background-color: red;
	cursor : pointer;
}
canvas
{
	display : none;
}
#photo
{
	border : 2px solid orange;
	width : 100%;
	height : 300px;
	max-width: 400px;
}
#photo2
{
	border : 2px solid orange;
	width : 100%;
	height : 300px;
	max-width: 400px;
}
#wrong
{
	color : red;
}
.all
{
	overflow : hidden;
	width : 80%;
	min-width : 850px;
}
.new_comment
{
	text-align : left;
}
.cheat video
{
	border : 2px solid orange;
	z-index : 1;
	width: 400px;
	height :  300px;
}
.comentaire_photo
{
	margin-top: 2px;
	text-align: left;
	padding-left: 30px;
	color : black;
	padding : 5px;
	width : 400px;
	font-size : 14px;
	word-wrap: break-word;
	border-bottom:1px dashed rgb(206, 181, 139);
}
.comentaire_photo_2
{
	margin-top: 2px;
	padding-left: 30px;
	color : black;
	font-size: 18px;
	text-decoration: underline;
	padding : 5px;
	width : 400px;
	cursor: pointer;
}

#plus_de_com
{
	background-color: rgb(144, 12, 63  );
	margin-top: 2px;
	text-align: left;
	padding-left: 30px;
	color : white;
	padding : 5px;
}
#comentaire-photo b
{
	text-decoration: underline;
}
#photo_up
{
	border : 2px solid orange;
	z-index : 1;
	width : 400px;
	height : 300px;
}
.b_com
{
	overflow : hidden;
	margin-top: 10px;
}
.b_com button
{
	width : 70px;
	position : absolute;
	top : 35px;
	right : 12px;
}
.commentaire
{
	position : relative;
	overflow : hidden;
	width : 400px;
	text-align: center;
}
.galerie
{
	margin : 0;
	padding : 0;
	margin-top: 80px;
	width : 80%;
}
.like
{
	border : none;
	border-radius : 5px;
	width : 50px;
	background-color: lightgreen;
	cursor : pointer;
}
.dislike
{
	border : none;
	border-radius : 5px;
	width : 64px;
	background-color: red;
	cursor : pointer;
}
.text_write
{
	padding: 8px;
	color : black;
	background-color: rgb(200, 173, 127);
	text-align: center;
	opacity : 0.9;
    width: 400px;
    min-height : 30px;
    resize: none;
}
#page
{
	text-decoration: none;
	color : orange;
	font-size: 20px;
	letter-spacing: 2px;
}
#page a
{
	text-decoration: none;
	color : orange; 
}
.ensemble_photo
{
	background-color: rgb(252, 252, 245); 
	margin-top: 0px;
	width : 500px;
	margin-bottom: 70px;
	border : 1px solid rgb(122, 68, 8);
	position:relative;-webkit-animation:animatebottom 0.4s;animation:animatebottom 0.4s}
@-webkit-keyframes animatebottom{from{bottom:-300px;opacity:0} to{bottom:0px;opacity:1}}
@keyframes animatebottom{from{bottom:-300px;opacity:0} to{bottom:0;opacity:1}}
.ensemble_photo img
{
	border : 2px solid orange;
	border-radius: 10px;
}
.montage
{
	margin-right: 3%;
	margin-top: 50px;
	padding : 20px;
	float : right;
	width : 25%;
	min-width : 240px;
	overflow : auto;
	overflow-x: hidden;
	height : 830px;
}
.montage img
{
	width : 100%;
	max-width: 400px;
	margin-bottom: 30px;
	border : 2px solid orange;
	border-radius: 10px;
}
.image_montage
{
	margin-top: 50px;
	height : 150px;
	width : 800px;
	overflow: auto;
	border-radius: 20px;
	background-color: rgb(2452, 252, 245);
}
.cheat
{
	width : 90%;
	max-width: 400px;
	max-height: 600px;
	min-height: 200px;
	position : relative;
}
.cheat2
{
	width : 90%;
	max-width: 400px;
	max-height: 600px;
	min-height: 200px;
	position : relative;
}
#startbutton
{
	background : rgba(250, 150, 1  , 1);
	color : white;
	margin : 30px;
	font-size : 20px;
	cursor : pointer;
}
#on
{
	color : orange;
}
#mail_envoye
{
	color : green;
	font-size: 20px;
}
.connexion
{
	display : block;
	margin : 0 auto;
	width : 500px;
	background-color : white;
	padding : 30px;
	border : 2px solid #ddd;
	position : absolute;
	top : 50%;
	left : 50%;
	transform : translate(-50%, -50%);
	border-radius: 10px;
}
#wrong2
{
	color : red;
}
.up_form
{
	display : block;
	margin : 0 auto;
	width : 500px;
	background-color : white;
	padding : 30px;
	border : 2px solid #ddd;
	position : absolute;
	top : 50%;
	left : 50%;
	transform : translate(-50%, -50%);
}
#need_connect
{
	color : red;
	width : 80%;
	font-size: 20px;
}
.sup_img_cur
{
	cursor : pointer;
}
#need_connect a
{
	color : rgb(178, 114, 51);
}
#container
{
	overflow : hidden;
	padding-top: 30px;
	margin-left: 5%;
	float : left;
	width : 50%;
	min-width : 450px;
	margin-top: 50px;
}
#pas_de_cam
{
	overflow : hidden;
	padding-top: 30px;
	margin-left: 5%;
	float : left;
	width : 50%;
	min-width : 450px;
	margin-top: 50px;
	border : 1px solid black;
}
.photo_bouton
{
	margin-top: 20px;
	float : left;
	width : 130px;
	height : 160px;
	display: inline;
}
.photo_bouton img
{
	z-index: 2;
	width : 100px;
	cursor : pointer;
}
.code
{
	display : block;
	margin : 0 auto;
	width : 500px;
	background-color : white;
	padding : 30px;
	border : 2px solid #ddd;
	position : absolute;
	top : 50%;
	left : 50%;
	transform : translate(-50%, -50%);
}
.form
{
	overflow : hidden;
}
.reset_pass
{
	margin : 0 auto;
	padding : 30px;
}
.inscription
{
	display : block;
	margin : 0 auto;
	width : 500px;
	background-color : white;
	padding : 30px;
	border : 2px solid #ddd;
	position : absolute;
	top : 50%;
	left : 50%;
	transform : translate(-50%, -50%);
	border-radius: 10px;
}
.shadow2
{
	visibility : hidden;
}
.radio
{
	visibility : hidden;
}
.shadow
{
	position : fixed;
	top : 0;
	bottom : 0;
	left : 0;
	right : 0;
	background : rgba(0, 0, 0, 0.7);
	transition : opacity 500ms;
	visibility : hidden;
	opacity : 0;
	z-index : 2;
}
.nodisplay
{
    display : none;
}
#register:target
{
	visibility : visible;
	opacity : 1;
}
#login:target
{
	visibility : visible;
	opacity : 1;
}
#code:target
{
	visibility : visible;
	opacity : 1;
}
.menu
{
	padding-top : 70px;
	height : 150px;
	background-color: rgba(63, 34, 4, 1);
}
.menu li
{
	display : inline;
}
.menu a:hover
{
	color : orange;
}
.menu a
{
	font-size : 25px;
	color : white;
	text-decoration: none;
	margin : 20;
}
#main
{
	margin : 0px;
	width : 100%;
	min-height : 180px;
	margin-top : 50px;
	position : relative;
	padding : 0px;
}
footer
{
	padding-top : 10px;
	padding-bottom : 10px;
	height : 50px;
	line-height : 1.5;
	background-color : rgba(40, 22, 1  , 1);
	position : absolute;
	overflow : hidden;
	color : white;
	bottom : 0;
	width : 100%;
}
@media all and(max-width: 850px)
{
	.montage
	{
		padding: 0; 
	}
}
@media all and (max-width: 790px)
{
	.galerie
	{
		width : 100%;
	}
	.ensemble_photo
	{
		width : 400px;
	}
	.menu
	{
		padding-top: 30px;
		padding-bottom: 10px;
		height : 240px;
	}
	.menu p
	{
		color : white;
		font-size: 25px;
		position : absolute;
		top : 200px;
		right : 0px;
	}
	.menu a
	{
		display : block;
	}
}