html
{
	height : 100%;
}
body
{
	padding : 0;
	margin : 0;
}
canvas
{
	display : none;
}
#wrong
{
	color : red;
}
.all
{
	overflow : hidden;
}
.new_comment
{
	text-align : left;
}
#container video, img
{
	width : 40%;
}
.galerie img
{
	width : 270px;
}
.b_com
{
	overflow : hidden;
	margin-top: 10px;
}
.b_com button
{
	width : 70px;
	position : absolute;
	top : 35px;
	right : 12px;
}
.commentaire
{
	position : relative;
	overflow : hidden;
	text-align: center;
}
.galerie
{
	padding-left: 50px;
	overflow : hidden;
	width : 100%;
}
.like
{
	border : none;
	border-radius : 5px;
	width : 50px;
	background-color: lightgreen;
}
.dislike
{
	border : none;
	border-radius : 5px;
	width : 50px;
	background-color: red;
}
textarea
{
	outline: none;
	padding: 8px;
	color: #fff;
	text-align: center;
	background-color: transparent;
    width: 90%;
    min-height : 30px;
    resize: none;
    background-color: orange;
}
.image_montage img
{
	width : 60%;
}
.ensemble_photo
{
	text-align: left;
	float : left;
	margin-top: 0px;
	width : 270px;
	padding : 30px;
}
.montage
{
	margin-top: 50px;
	padding : 20px;
	float : right;
	width : 20%;
}
.montage img
{
	width : 60%;
}
.image_montage
{
	margin-top: 50px;
	width : 20%;
	float: left;
	padding : 20px;
}
#startbutton
{
	background : orange;
	border : none;
	color : grey;
	margin : 30px;
	padding : 10px;
	font-size : 20px;
}
.connexion
{
	display : block;
	margin : 0 auto;
	width : 500px;
	background-color : white;
	padding : 30px;
	border-radius : 10px;
	border : 2px solid #ddd;
	position : absolute;
	top : 50%;
	left : 50%;
	transform : translate(-50%, -50%);
}
#container
{
	width : 50%;
	margin-top: 50px;
}
.code
{
	display : block;
	margin : 0 auto;
	width : 500px;
	background-color : white;
	padding : 30px;
	border-radius : 10px;
	border : 2px solid #ddd;
	position : absolute;
	top : 50%;
	left : 50%;
	transform : translate(-50%, -50%);
}
.reset_pass
{
	display : block;
	margin : 0 auto;
	width : 500px;
	background-color : white;
	padding : 30px;
	border-radius : 10px;
	border : 2px solid #ddd;
	position : absolute;
	top : 50%;
	left : 50%;
	transform : translate(-50%, -50%);
}
.inscription
{
	display : block;
	margin : 0 auto;
	width : 500px;
	background-color : white;
	padding : 30px;
	border-radius : 10px;
	border : 2px solid #ddd;
	position : absolute;
	top : 50%;
	left : 50%;
	transform : translate(-50%, -50%);
}
.shadow
{
	position : fixed;
	top : 0;
	bottom : 0;
	left : 0;
	right : 0;
	background : rgba(0, 0, 0, 0.7);
	transition : opacity 500ms;
	visibility : hidden;
	opacity : 0;
	z-index : 2;
}
.nodisplay
{
    display : none;
}
#register:target
{
	visibility : visible;
	opacity : 1;
}
#login:target
{
	visibility : visible;
	opacity : 1;
}
#code:target
{
	visibility : visible;
	opacity : 1;
}

.menu
{
	padding-top : 70px;
	height : 150px;
	background-color: grey;
}
.menu li
{
	display : inline;
}
.menu a:hover
{
	color : orange;
}
.menu a
{
	font-size : 25px;
	color : white;
	text-decoration: none;
	margin : 20;
}
#main
{
	margin : 0px;
	width : 100%;
	min-height : 350px;
	margin-top : 50px;
	position : relative;
	padding : 0px;
}
footer
{
	padding-top : 10px;
	padding-bottom : 10px;
	height : 50px;
	line-height : 1.5;
	background-color : orange;
	position : absolute;
	overflow : hidden;
	bottom : 0;
	width : 100%;
}