html
{
	height : 100%;
}
body
{
	padding : 0;
	margin : 0;
}
#superpose
{
	position : absolute;
	z-index : 2;
	top : 70px;
	width : 100px;
	left : 45px;
}
#superpose2
{
	position : absolute;
	z-index : 2;
	top : 70px;
	width : 100px;
	left : 45px;
}
#valide
{
	background-color: red;
}
canvas
{
	display : none;
}
#photo
{
	border : 2px solid orange;
	width : 100%;
	height : 300px;
	max-width: 400px;
}
#photo2
{
	border : 2px solid orange;
	width : 100%;
	height : 300px;
	max-width: 400px;
}
#wrong
{
	color : red;
}
.all
{
	overflow : hidden;
	width : 80%;
	min-width : 850px;
}
.new_comment
{
	text-align : left;
}
.cheat video
{
	border : 2px solid orange;
	z-index : 1;
	width: 400px;
	height :  auto;
}
#comentaire_photo
{
	background-color: white;
	margin-top: 2px;
	text-align: left;
	padding-left: 30px;
}
#photo_up
{
	border : 2px solid orange;
	z-index : 1;
	width : 400px;
	height : 300px;
}
.galerie img
{
	width : 80%;
}
.b_com
{
	overflow : hidden;
	margin-top: 10px;
}
.b_com button
{
	width : 70px;
	position : absolute;
	top : 35px;
	right : 12px;
}
.commentaire
{
	position : relative;
	overflow : hidden;
	text-align: center;
}
.galerie
{
	margin : 0;
	padding : 0;
	margin-top: 80px;
	width : 80%;
}
.like
{
	border : none;
	border-radius : 5px;
	width : 50px;
	background-color: lightgreen;
}
.dislike
{
	border : none;
	border-radius : 5px;
	width : 50px;
	background-color: red;
}
textarea
{
	outline: none;
	padding: 8px;
	color: #fff;
	text-align: center;
	background-color: transparent;
    width: 80%;
    min-height : 30px;
    resize: none;
    background-color: orange;
}
.ensemble_photo
{
	margin-top: 0px;
	padding : 10px;
	width : 50%;
	max-width: 500px;
	min-width : 400px;
	margin-bottom: 70px;
	background-color: rgb(227, 231, 235);
}
.montage
{
	margin-right: 3%;
	margin-top: 50px;
	padding : 20px;
	float : right;
	width : 25%;
	min-width : 240px;
	border : 1px solid black;
	border-radius: 30px;
}
.montage img
{
	width : 100%;
	margin-bottom: 30px;
}
.image_montage
{
	border-radius: 20px;
	border : 1px solid black;
	overflow: hidden;
	margin-top: 50px;
	width : 560px;
	height : 150px;
}
.cheat
{
	width : 90%;
	max-width: 400px;
	max-height: 600px;
	min-height: 200px;
	position : relative;
}
.cheat2
{
	width : 90%;
	max-width: 400px;
	max-height: 600px;
	min-height: 200px;
	position : relative;
}
#startbutton
{
	background : lightgreen;
	border : none;
	color : white;
	margin : 30px;
	padding : 10px;
	font-size : 20px;
}
.connexion
{
	display : block;
	margin : 0 auto;
	width : 500px;
	background-color : white;
	padding : 30px;
	border-radius : 10px;
	border : 2px solid #ddd;
	position : absolute;
	top : 50%;
	left : 50%;
	transform : translate(-50%, -50%);
}
#wrong2
{
	color : red;
}
.up_form
{
	display : block;
	margin : 0 auto;
	width : 500px;
	background-color : white;
	padding : 30px;
	border-radius : 10px;
	border : 2px solid #ddd;
	position : absolute;
	top : 50%;
	left : 50%;
	transform : translate(-50%, -50%);
}
#need_connect
{
	color : white;
	width : 80%;
	background-color: red;
}
#need_connect a
{
	color : blue;
}
#container
{
	overflow : hidden;
	padding-top: 30px;
	margin-left: 5%;
	float : left;
	width : 50%;
	min-width : 450px;
	margin-top: 50px;
	border : 1px solid black;
	border-radius : 20px;
}
#pas_de_cam
{
	overflow : hidden;
	padding-top: 30px;
	margin-left: 5%;
	float : left;
	width : 50%;
	min-width : 450px;
	margin-top: 50px;
	border : 1px solid black;
	border-radius : 20px;
}
.photo_bouton
{
	margin-top: 20px;
	float : left;
	width : 130px;
	height : 160px;
}
.photo_bouton img
{
	width : 120px;
	height : 90px;
}
.code
{
	display : block;
	margin : 0 auto;
	width : 500px;
	background-color : white;
	padding : 30px;
	border-radius : 10px;
	border : 2px solid #ddd;
	position : absolute;
	top : 50%;
	left : 50%;
	transform : translate(-50%, -50%);
}
.form
{
	overflow : hidden;
}
.reset_pass
{
	margin : 0 auto;
	width : 500px;
	background-color : white;
	padding : 30px;
	border-radius : 10px;
	border : 2px solid #ddd;
}
.inscription
{
	display : block;
	margin : 0 auto;
	width : 500px;
	background-color : white;
	padding : 30px;
	border-radius : 10px;
	border : 2px solid #ddd;
	position : absolute;
	top : 50%;
	left : 50%;
	transform : translate(-50%, -50%);
}
.shadow
{
	position : fixed;
	top : 0;
	bottom : 0;
	left : 0;
	right : 0;
	background : rgba(0, 0, 0, 0.7);
	transition : opacity 500ms;
	visibility : hidden;
	opacity : 0;
	z-index : 2;
}
.nodisplay
{
    display : none;
}
#register:target
{
	visibility : visible;
	opacity : 1;
}
#login:target
{
	visibility : visible;
	opacity : 1;
}
#code:target
{
	visibility : visible;
	opacity : 1;
}
.menu
{
	padding-top : 70px;
	height : 150px;
	background-color: grey;
}
.menu li
{
	display : inline;
}
.menu a:hover
{
	color : orange;
}
.menu a
{
	font-size : 25px;
	color : white;
	text-decoration: none;
	margin : 20;
}
#main
{
	margin : 0px;
	width : 100%;
	min-height : 350px;
	margin-top : 50px;
	position : relative;
	padding : 0px;
}
footer
{
	padding-top : 10px;
	padding-bottom : 10px;
	height : 50px;
	line-height : 1.5;
	background-color : orange;
	position : absolute;
	overflow : hidden;
	bottom : 0;
	width : 100%;
}
@media all and (max-width: 600px)
{
	.galerie
	{
		width : 100%;
	}
	.ensemble_photo
	{
		max-width: 100%;
		width : 100%;
	}
}